<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287752790287-34vcvhqdh3ajaupa23glstp52j5ejrb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287752790287-34vcvhqdh3ajaupa23glstp52j5ejrb5</string>
	<key>API_KEY</key>
	<string>AIzaSyAE6C3HK4slPcfPrS3Z73UGuTxR1hrsjA4</string>
	<key>GCM_SENDER_ID</key>
	<string>287752790287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omardajani.calsjjk</string>
	<key>PROJECT_ID</key>
	<string>cal-app-8798c</string>
	<key>STORAGE_BUCKET</key>
	<string>cal-app-8798c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287752790287:ios:dec1a00e9655e7d4789e7a</string>
</dict>
</plist>